body{
	font-size: 16px;
	background-color: #e8b4b8;
	color: #fff;
}
#header-nav {
	background-color: #67595e;
}
.navbar-header h1 {
	font-size: 1.8em;
	margin-top: 8px;
}
.navbar a {
	text-decoration: none;
	color: #eed6d3;
}

#collapsable-nav {
	justify-content: flex-end;
	visibility: hidden;
	text-align: center;
	background-color: #a49393;
}
#collapsable-nav span {
	font-size: 1.2em;
}
.navbar-toggler{
	color: #eed6d3;
	font-size: 2em;
}
.navbar-toggler:focus{
	box-shadow: none;
	border: 1px solid #a49393;
	border-radius: 0.3rem;
}
/* End of header */

/* Main content */
#menu-title {
	margin-top: 30px;
	margin-bottom: 30px;
	
}
.row h3 {
	text-align: center;
	font-size: 1.5em;
}
.row section {
	background-color: #eed6d3;
	color: #67595e;
}


/********* Extra Large devices only *********/
@media (min-width: 1400px) {
	
}

/********* Large devices only *********/
@media (min-width: 1200px) {
	
}

/********* Medium devices only *********/
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/********* Small devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
	
}

/********* Extra small devices only *********/
@media (max-width: 767px) {
	#collapsable-nav {
	visibility: visible;
}
}
